body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
    margin: 0;
    /* overflow-y: scroll; */
    
}

button{
    width: 390px;
    text-align: center;
    
    
}
.container{
    text-align: center;
    justify-content: center;
}
h1{
    text-align: center;
}
input{
    margin-left: 300px;
}
#confsenha{display: none;}